.header {
  display: flex;
  flex-direction: column;
  /* padding-block-start: 50px; */
}

.header__logo {
  inline-size: 200px;
  /* align-self: center; */
}

.header__heading {
  padding-block-start: 25px;
  color: var(--main-text-color);
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__link {
  color: var(--main-text-color);
  text-decoration: none;
  align-self: center;
}