.header {
  display: flex;
  flex-direction: column;
  /* padding-block-start: 50px; */
}

.header__logo {
  inline-size: 300px;
  align-self: center;
}

.header__hp {
  padding-block-start: 50px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__link {
  color: #fff;
  text-decoration: none;
  align-self: center;
}